*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    background: linear-gradient(to right, #1a1a1a 30%, #fff 30%);
    font-family: "Noto Serif";
}

#app{
    padding: 0 80px;
}

.produtos{
    max-width: 900px;
    margin: 100px auto 0 auto;
}

.produto{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    background: white;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
    cursor: pointer;
}

.produto_img{
    max-width: 300px;
    margin-right: 40px;

}

.produtoNome{
    font-size: 3rem;
    line-height: 1;
}

.produtoPreco{
    color: rgba(0,0,0,.5);
}

.modal::before{
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.5);
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 80px;

}

.modalContainer{
    position: relative;
    background: linear-gradient(to right, transparent 250px, white 250px );
    z-index: 1;
    display: grid;
    align-items: end;
    grid-gap: 50px;
    padding: 0px 50px 50px 0;
    animation: fadeIn .3s forwards;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translate3d(50px, 0, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0px, 0, 0);
    }
}

.modalImg img{
    max-width: 300px;
    display: block;
   
}

.modalImg{
    margin-top: 50px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .1), 0px 4px 10px rgba(0, 0, 0, .2)
}

.modalDados{
    max-width: 600px;
    grid-column: 2;
}

.modalTitulo{
    font-size: 3rem;
}
.modalBtn{
    margin-top: 80px;
    background: black;
    cursor: pointer;
    color: #fff;
    border: none;
    padding: 10px 25px;
    font-size: 1rem;
    font-family: "Noto Serif";
}

.modalBtn.esgotado{
    background: #808080;
}

.modalBtn:active{
   background: gray; 
}
.avaliacoes{
    grid-column: 2;
}

.avaliacao{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
}

.avaliacaoUsuario{
    font-weight: bold;
}

.modalFechar{
    border-radius: 50%;
    border: 2px solid #000;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
}

.header{
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    padding: 20px 0;
    margin: 0 auto;
}
.logo{
    width: 80px;
}

.carrinho::after{
    content: "";
    display: inline-block;
    background: url("./assets/carrinho.svg") no-repeat center center;
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.carrinho{
    display: flex;
    align-items: center;
}

.alerta{
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 10;
    width: 100%;
    text-align: center;
    display: none;
}

.alerta.ativo{
    display: block;
    animation: fadeInDown .3s forwards;
}

@keyframes fadeInDown{
    from{
        transform: translate3d(0, -30px, 0);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0px, 0);
    }
}

.alertaMensagem{
    background: white;
    display: inline-block;
    padding: 20px 40px;
    border: 2px solid black;
}

.carrinhoModal::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
}

.carrinhoModal{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px;
    display: none;
}

.carrinhoModal.ativo{
    display: block;
}

.carrinhoContainer{
    position: relative;
    margin: 80px auto;
    background: white;
    padding: 40px;
    max-width: 800px;
    animation: fadeInDown .3s forwards;
}

.carrinhoItem{
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
    border-bottom: 1px solid black;
    padding: 10px 0;
}

.carrinhoTitulo{
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;

}

.carrinhoRemover{
    border: none;
    font-size: 1rem;
    cursor: pointer;
    background: white;
}

.carrinhoPreco{
    text-align: right;
}

.carrinhoTotal{
    text-align: right;
    margin-right: 41px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.carrinhoFinalizar{
    display: block;
    margin-left: auto;
    background: #000;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    padding: 10px 25px;
    border: none;
    font-family: "Noto Serif";
}

.carrinhoFechar{
    border-radius: 50%;
    border: 2px solid #000;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 900px){
   #app{
    padding: 0 10px;

   }
   .produtos{
    margin-top: 40px;
   }
   .produto{
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
    margin: 30px auto;
   }
   .produto_info{
    padding: 20px;
   }
   .produto_img{
    max-width: 100%;
   }
   .produtoNome{
    font-size: 1.5rem;
   }
   .modal{
        padding: 10px;
   }
   .modalContainer{
     grid-gap: 20px;
     background: white;
     padding: 10px 0;
   }
   .modalImg{
    grid-row: 2;
   }
   .modalDados{
    grid-column: 1;
    padding: 40px;
   }
   .avaliacoes{
    grid-column: 1;
    padding: 40px;
   }
   .modalBtn{
    margin-top: 20px;

   }
   .modalImg img{
    width: 100%;
    max-width: initial;
    
   }
   .carrinhoModal{
    padding: 10px;
   }
}